.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eee;

  height: 40px;

  border-color: #eee;
  border-top: 1px solid #ccc;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

// works on header icon too; technically global
.material-icons {
  font-size: 26px;

  &:hover {
    transition: 0.2s;
    color: #b0b0b0;
  }
}
