.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 40px;

  border-color: #eee;
  border-top: 1px solid #ccc;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
