.header {
  width: 100vw;
  height: 40px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;

  .title {
    margin: 0;
    padding: 0;
    color: #171717;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    font-weight: 900;
  }
  
  span {
    font-weight: 300;
  }
}
