.post {
  background: #fff;
  padding-bottom: 50px;

  .post-user {
    display: flex;
    align-items: center;
    height: 30px;
  }

  .post-picture {
    width: 100%;
    .post-image {
      width: 100%;
    }
  }

  .post-desc {
    
  }
}
